#filterContainer {
    margin-top: 6%;
    /*background: #0f6674;*/
}

#picturesContainer {
    /*background: #1c7430;*/
}

.pictureFrame {
    background: #86cfda;
}

.picture {
    /*max-height: 75%;*/
    /*max-width:50%*/
}

.image {
    max-height: border-box;
}

#2021 {
    visibility: hidden;
}

.yearButton {
    border-style: none;
    background: none;
}